*{
	margin: 0;
	padding:0;
	font-size: 14px;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
input{
	border:none;
	background: none;
}
body{
	background:#ffffff;
}

.clearboth{
	clear:both; height: 0; line-height: 0; font-size: 0
}


#header{
	width: 100%;
	
}
.top{
	width: 100%;
	line-height: 27px;
	height: 27px;
	border-bottom:1px solid #E8E8E8;
}
.top_left{
	float: left;

}
.top_left a:link,.top_left a:visited{
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
.top_left a:hover,.top_left a:active{
	color: red;
}

.top_right{
	float: right;
}
.top_right span{
	color:  #666666;
}
.top_right a:link,.top_right a:visited{
	text-decoration: none;
	color: #666666;
	margin-left: 5px;
}
.top_right a:hover,.top_right a:active{
	color: red;
	text-decoration: underline;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.logo{
	height: 85px;
	background: #1d7ad9;
}
.logo_left{
	width: 220px;
	float: left;
	display: inline;
	overflow: hidden;
}
.logo_left img{
	margin: 8px 40px 7px;
	overflow: hidden;
}
.logo_right{
	width: 760px;
	float: left;
	display: inline;
}
.search_box{
	width: 440px;
	margin-top: 30px;
	margin-left: 70px;
}
.search_text{
	float: left;
	width: 360px;
	height: 14px;
	line-height: 14px;
	padding: 11px 5px 10px;
	display: inline;
	background: #FFF;
	
}
.search_btn{
	float: left;
	width: 70px;
	height: 35px;
	background: #ff8c00;
	color: white;
	display: inline;
}


.shopcar{
	width: 170px;
	height: 35px;
	margin-left: 40px;
	float: left;
	background: #ff8c00;
}
.shoptext{
	float: left;
	color: #FFF;
	width: 87px;
	height: 35px;
	line-height: 35px;
	background: url(../images/shopcar.png) no-repeat 10px center;
	border-right: 1px solid #e27a00;
	padding: 0 5px;
	text-indent: 40px;
}
.Num{
	background: url(../images/whitejiantou.png) no-repeat 36px center;
	text-indent: 18px;
	float: left;
	color: #FFF;
	width: 56px;
	height: 35px;
	line-height: 35px;
	border-left: 1px solid #ff9c01;
	padding: 0 5px;
}
.nav{
	width: 100%;
	height: 35px;
	background: #1369c0;
}
.title{
	float: left;
	display: inline;
	width: 200px;
	height: 35px;
	margin-left: 175px;
}
.title h3{
	color: white;
	line-height: 35px;
	text-align: center;
}
.title img{
	position: absolute;
	right: 20px;
	top: 15px;
}
.nav li{
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	list-style: none;

}
.nav li a:link,.nav li a:visited{
	text-decoration: none;
	color:white;

}
.nav li:hover,.nav li:active{
	background:#4593fd;
}

.submenu{
	width: 190px;
	height: 325px;
	position: relative;
}
.shopclass_item{
	width: 190px;
	height: 60px;
	text-align: left;
	background: #4593fd;
	position: relative;
	border-bottom: 1px solid #3487f2;
	border-top: 1px solid #5aa1fe;
	padding-left: 10px;
	padding-top: 10px;
	z-index:3;
}
.shopclass_item:hover{
	border-right: 0;
	border:1px solid #DDD;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
	border-left:2px solid #4593fd;
	background: #fff;
}
.shopclass_item:hover a{
	color: black
}
.shopclass_item:hover .apink{
	background: url(../images/yuanquan.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	margin-left: 20px;
	color: #FFF;
}
.shopclass_item:hover span{
	display: inline-block;
	background: white;
	height: 70px;
	width: 20px;
	float: right;
	position: absolute;
	top:0 ;
	right: 0;
	z-index:20;

}
.shopclass_item:hover .subnav{
	display: block;

}

.div_top dt{
	line-height: 22px;
	height: 22px;
	background: url(../images/rowjiantou.png) 175px center no-repeat;
}
.div_top dt a{
	margin-left: 3px;
	font-size: 14px;
	color: #FFF;
}
.div_top .apink:link,.div_top .apink:link:visited{
	background: url(../images/yuanquan.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	margin-left: 20px;
}
.div_top .apink:hover,.div_top .apink:link:active{
	text-decoration: underline;
}
.div_top dd{
	line-height: 20px;
	height: 20px;
}
.div_top dd a{
	color: #FFF;
	margin-left: 2px;
	font-size: 14px;
}
.subnav{
	display: none;
	width: 570px;
	left: 195px;
	position: absolute;
	top: -70px;
	border:1px solid #DDD;
	z-index: 4;
	background: white;
	box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
    z-index:4;
}
.subnav dl{
	padding-bottom: 5px;
	border-bottom: 1px solid  #EEE;
	display: block;
	overflow: hidden;


}
.subnav  dt{
	display: block;
    float: left;
    width: 60px;
    text-align:right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
    padding-left: 15px;

}
.subnav  dt a{
	color: #4b88da;
	font-weight: bold;
    font-size: 14px;

}
.subnav  dt a:hover{
	text-decoration: underline;
}
.subnav dd{
	display: block;
    overflow: hidden;

}
.subnav dl dd a{
	display: block;
    float: left;
    color: #666666;
    font-size: 14px;
    padding: 0 8px;
    height: 16px;
    line-height: 16px;
    margin: 4px 0;


}
.subnav dl dd a:hover{
	color: red;
	text-decoration: underline;
}


#mainbody{
	border: 1px solid #E8E8E8;
	height: 358px;

}

.banner{
	width: 800px;
	height: 358px;
	float: right;
	z-index: 1;
	position:relative; 
	overflow: hidden;
	margin-bottom: 15px;
}
.bannerimg{
	width: 1600px;
	height: 358px;
	position: absolute;
	top: 0;
	left: 0;
}
.bannerimg li{
	list-style: none;
	float: left;
}
.bannerimg img{
	display: block;
	width: 800px;
	height: 358px;
}
.bannercom{
	position: absolute;
	left: 0;
	bottom: 15px;
	text-align: center;
	width: 100%;
}
.bannercom a{
	width: 20px;
	height: 5px;
	background: white;
	overflow: hidden;
	display: inline-block;
	margin: 0 3px;
}
.bannercom .active{
	background:#FF7700;
}


.content{
	width: 1000px;
	height: 960px;
	background: #FFF;
	border: 1px solid #E8E8E8;
}
.computer{
	width: 1000px;
	height: 480px;
}
.icon{
	width: 44px;
	height: 45px;
	background: url(../images/shopicon.png) left center no-repeat;
	margin: 15px 15px 15px 0;
	float: left;
}
.shopTitle{
	height: 75px;
	border: 1px solid #E8E8E8;
}
.shopTitle h3{
	float: left;
	font-size: 24px;
	margin-top: 25px;
}
.shopTitle a{
	text-decoration: none;
	float: right;
	margin-top: 35px;
	color: #000000;
}
.shopTitle a:hover{
	text-decoration: underline;
}

.leftimg{
	width: 189px;
	height: 400px;
	float: left;
}
.rightcontent{
	width: 811px;
	height: 396px;
	float: left;
	border-bottom: 3px solid #ff7201;
}
.contenttop{
	width: 811px;
	height: 195px;
}
.contentbottom{
	width: 811px;
	height: 201px;
}
.contenttop li{
	list-style: none;
	float: left;
	width: 180px;
	height: 195px;
	padding:35px 0 25px 20px;
	border: 1px solid #e5e5e5;
	border-right: none;
}
.contenttop h3{
	text-align: center;
}
.contenttop p{
	width: 180px;
	text-align: center;
	margin-top: 5px;
	display: inline-block;
}
.contentbottom li{
	list-style: none;
	float: left;
	width: 180px;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	border-right: none;
	padding:35px 0 20px 20px;
}
.lefticon{
	width: 80px;
	height: 60px;
	float: left;
}
.righttext{
	display: inline-block;
	width: 95px;
	margin-left: 5px;
	float: left;
}
.food{
	width: 1000px;
	height: 500px;
}
.food .contentbottom li{
	border-bottom: none;
}

#footer{
	width: 100%;
	height: 300px;
	background: #d4d4d4;

}
.profile{
	width: 500px;
	padding:80px 0 10px;
	margin: 0 auto;
}
.profile li{
	float: left;
	list-style: none;
	border-right: 1px solid black;
	width: 60px;
	height: 15px;
	line-height: 15px;
	text-align: center;

}
.profile span{
	float: left;
	height: 15px;
	line-height: 15px;
}
#footer  li a{
	text-decoration: none;
	color: black;
	text-align: center;
}
.copyright{
	width: 800px;
	margin: 0 auto;
	height: 20px;
}
.copyright li{
	height: 15px;
	line-height: 15px;
	margin-left: 10px;
	float: left;
	list-style: none;
}
.copyrightImg{
	width: 700px;
	margin: 0 auto;
}
.copyrightImg li{
	margin:30px 20px;
	float: left;
	list-style: none;
}



